#content h1
{
	font-size: 12pt;
	color: #345;
	text-decoration: underline;
	margin-top: 30px;
}

#content h2
{
	font-size: 13pt;
	color: #385C48;
	text-decoration: underline;
}

#content h3
{
	font-size: 11pt;
	color: #2E334B;
	font-style: italic;
}

#content p
{
	font-size: 11pt;
	color: #333333;
	text-align: justify;
	text-indent: 15px;
}

.sendMailForm
{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.sendMailForm div
{
	margin: 5px;
	vertical-align: top;
}

.sendMailForm .label
{
	display: inline-block;
	width: 20%;
}

.sendMailForm .input
{
	display: inline-block;
	width: 75%;
}

.sendMailForm .controls
{
	text-align: right;
}

div.errorHint
{
	color: #900;
	text-align: right;
	font-size: 90%;
	margin-top: 0px;
	display: none;
}

#errorSent
{
	color: #040;
	text-align: center;
	border: 1px solid #4a4;
	background-color: #fcfffc;
	display: none;
}